localhost:20000
root /www/sharelist.com

fastcgi path endpoint [preset] {
    ext    extension
    split  splitval
    index  indexfile
    env    key value
    except ignored_paths...
    pool   pool_size
}